.navigation {
  display: flex;
  justify-content: right;
  align-items: center;

  &__link {
    font-size: 2rem;
    color: $white;
    text-decoration: none;
    margin: 0 $base-spacing/2;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  &__link--emphasis {
    color: $indigo;
    background: $white;
    border-radius: $border-radius;
    padding: $base-spacing/2;
    transition: all ease-in 150ms;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $black;
    }
  }

  &__button {
    display: none;
  }
}
