.navigation {
  &__link {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__link--emphasis {
    color: $indigo;
    background: $white;
    border-radius: $border-radius;
    transition: all ease-in 0.2s;
    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $black;
    }
  }
}
