.newsletter {
  background: $light-indigo;
  border-radius: $base-border-radius;
  padding: $base-spacing * 2;
  margin-top: $base-spacing * 4;

  @media #{$media-lg} {
    padding-left: $base-spacing * 6;
  }

  &__title {
    margin-top: 0;
  }

  input[type='text'],
  select {
    width: 100%;
    margin-bottom: $base-spacing;

    @media #{$media-lg} {
      width: 80%;
    }
  }

  select {
    font-size: 2.4rem;
    padding: $base-spacing/2;
  }
}
