.site-header {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  color: $white;
  background: $indigo;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media #{$media-lg} {
      flex-flow: row;
    }
  }

  &__title {
    margin: 0 0 $base-spacing;
    font-weight: 400;
    text-align: center;

    @media #{$media-lg} {
      margin-bottom: 0;
      text-align: left;
    }
  }
}
