.sub-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media #{$media-lg} {
    align-items: stretch;
    flex-direction: column;
    flex-wrap: unset;
  }

  &__link {
    display: block;
    font-weight: 700;
    padding: $base-spacing/2 $base-spacing;
    margin: 0 0 $base-spacing/2;

    @media #{$media-lg} {
      padding-left: $base-spacing * 3;
    }

    // Static until I think of something better
    transition: none;

    &:hover,
    &--selected {
      background: $indigo;
      color: $white;
      text-decoration: none;
      border-radius: $base-border-radius;

      @media #{$media-lg} {
        border-radius: 0;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }
    }
  }
}
