// About Page
#page-about {
  .main {
    h3 {
      margin-top: 0;
    }
    img {
      display: block;
      max-width: 100%;
    }
    table {
      width: 100%;
      tr {
        th {
          text-align: left;
          border-bottom: 2px solid $black;
          padding: $base-spacing;
          padding-left: 0;
        }
        td {
          border-bottom: 1px solid $black;
          padding: $base-spacing;
          padding-left: 0;

          small {
            display: block;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
