// About Page
#page-about {
  // Lets style this like it's WYSWIG and we don't have classes
  .content {
    h3:first-of-type {
      margin-top: 0;
    }
    img {
      display: block;
      max-width: 100%;
    }
    table {
      width: 100%;
      th {
        text-align: left;
        border-bottom: 2px solid $grey;
        padding: $base-spacing;
        padding-left: 0;
      }
      td {
        border-bottom: 1px solid $grey;
        padding: $base-spacing;
        padding-left: 0;

        small {
          display: block;
          font-size: 2rem;
          color: $grey;
        }
      }
    }
  }
}
