// Base Styling
@import 'base/reset';
@import 'base/variables';
@import 'base/breakpoints';
@import 'base/forms';
@import 'base/layout';
@import 'base/typography';

// Block Styling
@import 'blocks/site-header';
@import 'blocks/page-header';
@import 'blocks/navigation';
@import 'blocks/sub-navigation';
@import 'blocks/newsletter';
@import 'blocks/footer';

// Page-specific Styling
@import 'pages/about';

// Making a clarifying object only available to screen readers
// https://a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
