<!DOCTYPE html>
<html lang="en">

  {% include "head.njk" %}

  <body>

    <!-- Block: site header -->
    {% include "blocks/site-header.njk" %}

    <!-- Block: Page Header -->
    {% include "blocks/page-header.njk" %}

    <!-- Layout: Page content-->
    <div class="page">

      <!-- Layout: Sidebar-->
      <div class="sidebar">

        <!-- Block: Sub navigation-->
        {% include "blocks/sub-navigation.njk" %}

      </div>
      <!-- / .sidebar-->

      <!-- Layout: Main content-->
      <div class="main">

        <!-- Page Content -->
        {{ content | safe }}

        <!-- Block: Newsletter-->
        {% include "blocks/newsletter.njk" %}

      </div>
      <!--/ .content -->
    </div>
    <!-- / .page -->

    <!-- Block: Footer -->
    {% include "blocks/footer.njk" %}

    <script src="/scripts/index.js"></script>

  </body>
</html>
