<nav aria-labelledby="site-navigation" class="navigation">
  <p id="site-navigation" class="visually-hidden">Site Navigation</p>
  <a class="navigation__link" href="#">About</a>
  <a class="navigation__link" href="#">Work with us</a>
  <a class="navigation__link" href="#">Our impact</a>
  <a class="navigation__link navigation__link--emphasis" href="#">Donate</a>
</nav>