<div class="newsletter">
  <h4 class="newsletter__title">Sign up for our newsletter</h4>

  <form action="">
    <label class="newsletter__label" for="form-email">
      Email address
    </label>
    <input class="newsletter__input" id="form-email" type="text" />

    <label class="newsletter__label" for="form-discovery">
      How did you hear about us?
    </label>
    <select class="newsletter__select" name="discovery" id="form-discovery">
      <option value="website">Website</option>
      <option value="email">Email</option>
      <option value="word-of-mouth">Word of mouth</option>
    </select>

    <input class="button" type="submit" value="Submit" />
  </form>
</div>