<div class="site-header">
  <div class="container">

    <h1 class="site-header__title">The SFDigital Foundation</h1>

    <!-- Block: Site navigation-->
    {% include "blocks/navigation.njk" %}

  </div>
</div>