<nav aria-labelledby="section-navigation" class="sub-nav">
  <p id="section-navigation">Section Navigaton</p>
  <a class="sub-nav__link sub-nav__link--selected" href="#"
    >About the fellowship</a
  >
  <a class="sub-nav__link" href="#">Testimonials</a>
  <a class="sub-nav__link" href="#">Alumni</a>
  <a class="sub-nav__link" href="#">Apply</a>
</nav>