<nav aria-labelledby="section-navigation" class="sub-navigation">
  <p id="section-navigation" class="visually-hidden">Section Navigaton</p>
  <a class="sub-navigation__link sub-navigation__link--selected" href="#"
    >About the fellowship</a
  >
  <a class="sub-navigation__link" href="#">Testimonials</a>
  <a class="sub-navigation__link" href="#">Alumni</a>
  <a class="sub-navigation__link" href="#">Apply</a>
</nav>