---
layout: layouts/base.njk
title: 10th Annual SFDigital Fellowship
---

  <h3>What is the SFDigital Fellowship?</h3>

  <p>
    An opportunity for people in the technology industry to help modernize
    city government.
  </p>

  <img
    src="/images/img-coworking-small.jpg"
    srcset="/images/img-coworking-small.jpg 423w, /images/img-coworking-medium.jpg 845w, images/img-coworking-large.jpg 1690w"
    sizes="(max-width: 680px) 90vw, 66vw"
    alt="A person looking at a laptop screen, a cup of coffee nearby and a pen in their hand."
  />

  <h3>What will fellows work on?</h3>

  <p>
    SFDigital fellows will work with the city to improve public services. They
    use technology to make it easier for people to get things done.
  </p>
  <p>
    Fellows work on critical issues like affordable housing, small businesses,
    legal aid for immigrants, and more. They are also helping to rebuild the
    city’s website from the ground up. This means taking a service-led
    approach so that anyone using the site can get what they need.
  </p>
  <p>
    As an SFDigital Fellow, you will re-think how public services are
    designed, by understanding what our users need and building with an agile
    approach.
  </p>

  <h3>How long does the fellowship last?</h3>

  <table>
    <thead>
      <tr>
        <th scope="col">Season</th>
        <th scope="col">Length</th>
      </tr>
    </thead>
    <tbody>
      {# create a table row for every event in _data/schedule.json #}
      {% for event in schedule %}
      <tr>
        {# select season using bracket notation because of colon in key name #}
        <td>{{ event["season:"] | capitalize }}</td>
        {# display event duration value #}
        <td>{{ event.duration }}
          {# show disclaimer if start_date: true #}
          {% if event.start_date %}
          <small>(depends on your start date)</small>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
